{% extends '../base.html' %}

{% block title %} Home {% endblock %}
{% block navbar-home %}class="active"{% endblock %}



{% block banner-info %}
<!--/banner-->
<!-- <div class="banner-info">
    <p>One place for all railway enquiry</p>
    <h3 class="mb-4">Welcome to SwiftRail</h3>
    <div class="ban-buttons">
        <a href="{% url 'book-ticket' %}" class="btn">Book Now</a>
        <a href="{% url 'train-enquiry' %}" class="btn active bluebtn">Train Enquiry</a>
    </div>
</div> -->
<!--// banner-inner -->
{% endblock %}

{% block css %}
#clock {
    background: #eee;
}
{% endblock %}

{% block content %}

   
{% endblock %}
