{% extends '../base.html' %}

{% block title %} My Transactions {% endblock %}
{% block navbar-transactions %}class="active"{% endblock %}
{% block navbar-last-transaction %}class="inactive"{% endblock %}
{% block navbar-booked-history %}class="inactive"{% endblock %}
{% block navbar-cancellation-history %}class="inactive"{% endblock %}



{% block content %}



{% endblock %}

{% block script %}
    $("#last-transaction").on('click', function() {
        window.location = "{% url 'last-transaction' %}";
    })
    $("#booked-history").on('click', function() {
        window.location = "{% url 'booked-history' %}";
    })
    $("#cancelled-history").on('click', function() {
        window.location = "{% url 'cancelled-history' %}";
    })
{% endblock %}